@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  padding: 0px;
  margin: 0px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

div{
  min-width: 450px;
}

.nav{
  display: inline-flex;
  box-shadow: 0 2px 2px 2px gray;
  width: 100vw;
  height: auto;
}

.nav ul{
  list-style-type: none;
  box-shadow: none;
  margin: 0px;
}

.nav li{
  margin: 5px;
  box-shadow: none;
}

.nav li a {
  text-decoration: none;
  color: black;
}

.nav li:hover{
  margin-bottom: 0px;
  border-bottom: thick solid green;
  box-shadow: none;
}

.blogPostCard{
  width: 50vw;
  margin: 20px;
  display: block;
  height: auto;
  -webkit-box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);}

.blogPostList{
  display: inline-flex;
  flex-wrap: wrap;
}

.sectionHeadding{
  border: solid;
  border-radius: 30px;
  margin: 50px; 
  align-content: center;
  align-items: center;
}